# Dependencies
node_modules/

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# DB artifacts
*.bak
*.mdf
*.ldf

# Generated data/output files
fetched_sectional_data.json
meetings_*.json
received_meetings_data.json
test_output.txt
